body {
	font-family: 'Roboto Slab', bold;
  background-color: #efefef;
	background: linear-gradient(1deg,#2ad454,#80e0fd);
}

.container {
	margin: 0 auto;

	max-width: 960px;
}


.heading {
	padding: 20px;
	box-sizing: border-box;
}

.calendar {
	margin: 30px 0;
}

.title {
	font-size: 64px;
	font-weight: 250;
	color: #ffffff;
}

.description {
	font-size: 14px;
	line-height: 22px;
	color: #fff;
}

@media(min-width: 760px) {
	.heading {
		padding: 0;
	}

	.description {
		font-size: 16px;
		line-height: 26px;
	}

	.calendar {
		margin: 90px 0;
	}
}
