.container {
	position: relative;
	z-index: 2;

	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;

	width: 300px;
	min-height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	background-color: #fff;
}

.date {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	font-size: 26px;
	font-weight: 600;
	color: #fff;
}

.description {
	text-align: center;
}

.descriptionList {
	padding-left: 0;
	width: 100%;
}


.descriptionList,
.description {
	font-weight: 200;
	color: #fff;
	font-size: 16px;
	list-style-type: decimal;

	&.listStyleNone {
		list-style-type: none;
	}

	li {
		margin-bottom: 15px;
	}

	& a {
		padding-left: 2px;
		outline: none;
		color: #fff;

		&:hover {
			color: #FFB612;
		}
	}
}

.gif,
.emoji {
	margin: 20px 0;
}

.gif {
	img {
		width: 250px;
	}
}

.animation {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	width: 100%;
	height: auto;

	pointer-events: none;
}

@media(min-width: 760px) {
	.container {
		padding: 20px 40px;

		width: 700px;
		min-height: 600px;
	}

	.date {
		font-size: 60px;
	}

	.descriptionList,
	.description {
		font-size: 20px;
	}

	.animation {
		height: 100%;
	}

	.gif {
		img {
			width: 400px;
		}
	}
}
