.footer {
  margin: 0 auto 20px;
  padding: 0 20px;
  box-sizing: border-box;

  width: 100%;
  max-width: 1240px;

  & > ul {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;

    list-style: none;

    & > li {
      margin: 0 0 20px 0;

      &:last-child {
        margin: 0;
      }
    }

    @media(min-width: 760px) {
      flex-direction: row;
      align-items: center;
      justify-content: center;

      & > li {
        margin: 0 30px 0 0;

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
