.logo {
  display: inline-block;

  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

  &.beelineDigital {
    width: 165px;
    height: 35px;

    background-image: url('/static/logo/beeline-digital.svg');
  }

  &.beeInterns {
    width: 130px;
    height: 31px;

    background-image: url('/static/logo/beeInterns.svg');
  }

  &.frontendZavtrak {
    width: 90px;
    height: 45px;

    background-image: url('/static/logo/frontend-zavtrak.svg');
  }
}

